@media all and (max-width: 990px){
.menu-area ul li {
	padding-right: 8px;
	margin-right: 8px;
	}
	.logo-text a {
	font-size: 30px;
	}
	.hero h1 {
    font-size: 40px;
	}
	.hero p {
    font-size: 20px;
	}
	.hero a {
	padding: 13px 21px;
	font-size: 15px;
	}
	.hero-area {
    height: 35vh;
	}
}
@media all and (max-width: 767px){
.logo-text a {
    color: red;
	}
}
@media all and (max-width: 575px){
.logo-text a {
    color: green;
	}
}
@media all and (max-width: 360px){
.logo-text a {
    color: yellow;
	}
}
@media all and (max-width: 320px){
.logo-text a {
    color: black;
	}
}




















